@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
    .list-none {
        display: none;
    }
}

@media (min-width: 768px) {
    .list-none {
        display: flex;
        gap: 4px;
        margin-right: 8px;
    }
}

@media (max-width: 767px) {
    .toggle_none {
        display: flex;
        gap: 4px;
        margin-right: 8px;
    }
}

@media (min-width: 768px) {
    .toggle_none {
        display: none;
    }
}

.active {
    padding: 10px;
    background-color: rgb(247, 232, 215);
    border-radius: 15px;
}

.bullet-points {
    list-style-type: disc;
    margin-left: 1em;
}

.bullet-points li {
    margin-bottom: 0.5em;
}